.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 1.2rem;
  position: relative;
}

.banner {
  height: 500px;
  object-fit: cover;
  width: 1400px;
}

.overlay {
  position: absolute;
  background-image: linear-gradient(#00000000, #000000);
  height: 100%;
  width: 100%;
  color: #ffffff;
  display: flex;
  align-items: flex-end;
}

.overlayItems {
  position: relative;
  display: flex;
  align-items: center;
  bottom: 10%;
  left: 10%;
  max-width: 90%;
}

.innerText {
  margin: 1.5rem;
}