.outercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.main {
  max-width: 1400px;
}

.container {
  margin: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
}
