.backdrop {
    color: #fff;
    display: flex;
}
.coverimage {
    object-fit: cover;
    height: 250px;
    border-radius: 10px;
    width: 167px;
    -webkit-box-shadow: 4px 7px 7px -3px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 4px 7px 7px -3px rgba(0, 0, 0, 0.41);
    box-shadow: 4px 7px 7px -3px rgba(0, 0, 0, 0.41);
  }
.text {
    margin-left: 30px;
}